snippet spt "simple html tag" A
<${1:tagname} ${2:props} />
endsnippet

snippet ilt "inline html tag" A
<${1:tagname} ${2:props}>${3:text}</$1>
endsnippet

snippet dt "display html tag" A
<${1:tagname} ${2:props}>
	${3:text}
</$1>
endsnippet
