[user]
	email = your@email.com
	name = yourname
[push]
	default = simple
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	map = log --graph --oneline
	ck=checkout
[color]
	ui = true
; [http]
;     proxy = socks5://127.0.0.1:1086
; [https]
;     proxy = socks5://127.0.0.1:1086

